<div class="kds-wrapper">
  
  <div class="production-header" *ngIf="pedidos.length > 0">
    <div class="summary-title">📊 TOTALES A COCINAR:</div>
    <div class="summary-scroll">
      <div class="summary-card" *ngFor="let item of resumenProduccion | keyvalue">
        <span class="sum-qty">{{ item.value }}</span>
        <span class="sum-name">{{ item.key }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="pedidos.length === 0" class="empty-kitchen">
    <div class="chef-icon">👨‍🍳</div>
    <h2>Cocina Limpia</h2>
    <p>No hay pedidos pendientes. ¡Buen trabajo!</p>
  </div>

  <div class="kds-grid">
    <div *ngFor="let p of pedidos" class="order-card" [ngClass]="obtenerClaseUrgencia(p)">
      
      <div class="order-header">
        <div class="mesa-tag">MESA #{{ p.mesa }}</div>
        <div class="order-timer" [class.danger]="obtenerMinutos(p.fecha) >= 15">
          ⏱️ {{ obtenerMinutos(p.fecha) }} min
        </div>
      </div>

      <div class="order-mozo">Mozo: {{ p.mozo }}</div>

      <div class="order-body custom-scroll">
        <div class="detail-row" *ngFor="let det of p.detalles">
          <span class="det-qty">{{ det.cantidad }}</span>
          <span class="det-name">{{ det.nombreProducto }}</span>
        </div>
      </div>

      <div class="order-footer">
        <button *ngIf="p.estado === 'pendiente'" 
                (click)="marcarPreparado(p)" class="btn-action start">
          EMPEZAR
        </button>

        <button *ngIf="p.estado === 'en preparación'" 
                (click)="marcarListo(p)" class="btn-action ready">
          ¡LISTO!
        </button>

        <div *ngIf="p.estado === 'listo para servir'" class="status-waiting">
          ⏳ Esperando al mozo...
        </div>
      </div>
    </div>
  </div>
</div>