<div class="login-container">
  <div class="login-card">
    <img src="https://cdn-icons-png.flaticon.com/512/924/924514.png" 
         class="logo-img"
         alt="Logo Cafetería" />
    
    <h2>Panel Administrativo</h2>

    <form (ngSubmit)="login()">
      <div class="input-group">
        <input
          type="text"
          name="usuario"
          placeholder="Usuario"
          [(ngModel)]="usuario"
          [disabled]="cargando"
          autofocus
          required
        />
      </div>

      <div class="input-group">
        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          [(ngModel)]="password"
          [disabled]="cargando"
          required
        />
      </div>

      <button type="submit" [disabled]="cargando">
        <span *ngIf="!cargando">Ingresar</span>
        <span *ngIf="cargando" class="spinner"></span>
      </button>
    </form>

    <p class="mensaje" *ngIf="mensaje" [ngClass]="{'error-active': mensaje}">
      {{ mensaje }}
    </p>
  </div>
</div>